<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance - Home</title>
    <th:block th:insert="layout/header"></th:block>
    <!-- Include jQuery from WebJars -->
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" media="screen"
          crossorigin="anonymous"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-10">
            <hr/>
            <div>
                <nav>
                    <div class="navbar">
                        <span class="navbar-brand mb-0 h1 connection-status"
                              th:class="${arduinoConnected == 'Connected' ? 'text-success' : 'text-danger'}">
                            RFID Reader:
                            <span id="arduinoStatus" th:text="${arduinoConnected}"></span>
                        </span>
                    </div>
                </nav>
            </div>
            <hr/>

            <table class="table table-hover">
                <thead>
                <tr>
<!--                    <th>ID</th>-->
                    <th>Card Number</th>
                    <th>Time in</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="attendanceTableBody">
                <tr th:each="attendance : ${attendances}">
<!--                    <td th:text="${attendance.id}"></td>-->
                    <td th:if="${attendance.card != null}" th:text="${attendance.card.cardNumber}"></td>
                    <td th:text="${#temporals.format(attendance.created, 'EEE dd MMM, yyyy HH:mm:ss')}"></td>
                    <td><a th:href="@{/home/showFormForView/{id}(id=${attendance.id})}"
                           class="btn btn-primary">View</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul class="pagination">
                <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:if="${currentPage != i}" th:href="@{'/home/' + ${i}}" class="page-link">[[${i}]]</a>
                    <span th:unless="${currentPage != i}" class="page-link">[[${i}]]</span> &nbsp; &nbsp;
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Cache the jQuery selector
        let arduinoStatusElement = $('#arduinoStatus');

        // Function to update connection status
        function updateConnectionStatus() {
            $.ajax({
                url: '/connection-status',
                type: 'GET',
                success: function (data) {
                    arduinoStatusElement.text(data);
                    // Update text color based on the response
                    if (data === 'Connected') {
                        arduinoStatusElement.removeClass('text-danger').addClass('text-success');
                    } else {
                        arduinoStatusElement.removeClass('text-success').addClass('text-danger');
                    }
                }
            });
        }

// Function to fetch and update the attendance records
        function updateTable() {
            $.ajax({
                type: 'GET',
                url: '/home/latestRecords', // Update this URL based on your controller mapping
                success: function (data) {
                    // Update the table rows with the new data
                    let tableBody = $('#attendanceTableBody');
                    tableBody.empty();

                    $.each(data, function (index, attendance) {
                        let row = '<tr>' +
                            // '<td>' + attendance.id + '</td>' +
                            '<td>' + (attendance.card ? attendance.card.cardNumber : '') + '</td>' +
                            '<td>' + attendance.formattedDate + '</td>' +
                            '<td><a href="/home/showFormForView/' + attendance.id + '" class="btn btn-primary">View</a></td>' +
                            '</tr>';
                        tableBody.append(row);
                    });
                }
            });
        }

        // Periodically update connection status every 1000 millisecond
        setInterval(updateConnectionStatus, 1000);

        // Update the table initially
        updateTable();

        // Periodically update records every 5 seconds (adjust as needed)
        setInterval(updateTable, 5000);
    });
</script>
<div th:insert="layout/footer"></div>
</body>
</html>

