<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance - Home</title>
    <th:block th:insert="layout/header"></th:block>
    <!-- Include jQuery from WebJars -->
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" media="screen"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            Menu
        </div>
        <div class="col-sm-10">
            <hr/>
            <div>
                <nav>
                    <div class="navbar">
            <span class="navbar-brand mb-0 h1 connection-status">
                RFID Reader Connection Status:
                <span id="arduinoStatus" th:text="${arduinoConnected}"></span>
            </span>
                    </div>
                </nav>
            </div>
            <hr/>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Card Number</th>
                    <th>Time in</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="attendance : ${attendances}">
                    <td th:text="${attendance.id}"></td>
                    <td th:text="${attendance.cardNo}"></td>
                    <td th:text="${#temporals.format(attendance.created, 'EEE dd MMM, yyyy HH:mm:ss')}"></td>
                    <!-- Add other data fields as needed -->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Cache the jQuery selector
        let arduinoStatusElement = $('#arduinoStatus');

        // Function to update connection status
        function updateConnectionStatus() {
            $.ajax({
                url: '/connection-status',
                type: 'GET',
                success: function (data) {
                    arduinoStatusElement.text(data);
                    // Update text color based on the response
                    if (data === 'Connected') {
                        arduinoStatusElement.removeClass('text-danger').addClass('text-success');
                    } else {
                        arduinoStatusElement.removeClass('text-success').addClass('text-danger');
                    }
                }
            });
        }

        // Periodically update connection status every 1 second
        setInterval(updateConnectionStatus, 1000);
    });
</script>

</body>
</html>